
.open-sans-normal{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.btn-primary {
    background-color: #006A50;
    font-weight: 18px;
    color: white;
    font-size: 12px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;

}

.banner-greetings{
    font-size: 15px;
    font-weight: 600px;
    font
}
.dark-2{
    color: rgba(14, 14, 14, 0.5);
}
.banner-profile-pic{
     width: 400px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 100px;
    background-color: #C6E4D6;
    padding: 60px;
    border: none;
    border-radius: 10px;
    gap: 24px;
}
/* .banner-content{ */
    
}
.banner-title{
    font-weight: bold;
    font-size: 40px;
  }
.about-container{
    display: flex;
    gap: 25px;
}
.about{
    padding: 100px;
}
.vision{
    padding: 20px;
    background-color: #C6E4D6;
    border-radius: 10px;
}
.vision-2{
    background-color: rgba(84, 144, 245, 1);
}
.vision-3{
    background-color: #FFC239;
}
.btn-primary-2{
    background-color: blueviolet;
}
.btn-primary-3{
    background-color: rgb(56, 56, 17);
}
.Yunus{
    margin-top: 80px;
}
.details{
    font-size: small;
    line-height: 0;
}
.yon{
    padding: 2px;
    
}
.about-details{
    display: block;
    padding-top: 30px;
}

.ab-det-1{
    display: flex;
    gap: 20px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.ab-det-2{
    
    display: flex;
    padding-top: 40px;
    gap: 20px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.img-set-{
    width: 300px
}

.last-one{
    text-align: center;
}
.money{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.money-1{
    padding: 20px;
    background-color: #C6E4D6;
    border-radius: 5px;
    box-shadow: 2px 4px 4px 2px rgb(213, 208, 208);
}
input{
    height: 30px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 20px;
  margin: 24px;
  text-align: center;
  box-shadow: 2px 4px 4px 2px rgb(216, 212, 212);
  border: none;
}
.sub{
    display: flex;
    justify-content: left;
}
.btn-last{
    height: 50px;
    margin-top: 35px;
}
.text-2{
    text-align: center;
}
.text-3{
    text-align: center;
}
.subscribe{
    padding: 30px;
    background-color: #C6E4D6;
    border-radius: 10px;
}
  